#menu-bar { /*Llamamos al input*/
    display: none;
}

header label{

    float: right; /*Al icono que está dentro del label lo tiramos para la derecha*/
    font-size: 28px;
    cursor: pointer;
    margin: 6px 0; /*Bajo el icono y le doy un margen de 0*/
    margin-top: 0.5em;
}

.menu {
    position: absolute;
    top: 70px; /*Para que comience abajo del header*/
    left: 0;
    width: 100%;
    height: 100vh; /*Para que ocupe todo*/
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s; /*Para poder ver como se desplaza (se desplaza por 0.5seg)*/
    transform: translateX(-100%); /*Lo transladamos en el eje x*/
}

.menu a {
    display: block;
    color: white;
    height: 70px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%); /*Lo devolvemos a su posición original una vez que el input está en la pseudoclase
    checked*/
}

@media (min-width:1024px){
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    header label {
        display: none;
    }
    
}


