/* Archivo CSS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('menu.css');
@import url(Encabezado.css);

/* Selector universal, lo que hacemos aca es ponerle 0 de margen, 0 de padding y le asignamos un modelo de caja
para que no se expanda cuando pongamos margenes y padding*/
*{
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0; 
  padding: 0;
}

header{
  width: 100%; /*Ancho de 100%*/
  height: 70px;
  background: #333;
  color: white;

  position: fixed; /*Para que el header se quede pegado cuando bajo o subo*/
  top: 0;
  left: 0;
  z-index: 100; /*para que el header quede siempre por delante de los elementos*/
}

.contenedor {
  width: 98%; /*Estas propiedades son para que quede centrado*/
  margin: auto; 
}

header .contenedor {
  display: table;
}

h1 {
  float: left;   /* Flota el icono y el menu*/
  margin-top: 0.5em;
}

body {
  margin: auto;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-titulo{
  font-size: 3.5em;
  font-family: monospace;
  color: white;
  margin-top: 100px;
  background-image: url(../Imagenes/ingenieria_electronica.jpg );
  background-color: rgba(0, 0, 0, .6);
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 40px;

}

.Descripcion{
  font-size: 1.5em;
  margin-top: 50px;
}


.iconos-redes a{
  color:#333;
  text-decoration: none;
  font-size: 28px;
}

.iconos-redes a:hover{
  background: rgba(255, 255, 255, 0.3);
}

.container-footer{
  margin-top: 50px;
  display: flex;
  align-items: center;
  background-color: rgba(0,100,200, .6);
  padding-bottom: 100px;
  padding-top: 1px;
}

.container-footer h3{
  font-size: 2em;
}

.footer-nav{
  margin-left: auto;
}

.footer-nav li{
  display: inline-block;
  margin: 0 20px ;
}
